body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #fff3e0, #ffe0b2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

h1 {
    text-align: center;
    color: #ef6c00;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #6d4c41;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
textarea, select {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff8e1;
    color: #6d4c41;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%236d4c41' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>"); /* Flecha personalizada */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
}

button{
    display: block;
    width: 100%;
    padding: 0.6rem;
    margin-top: 1.3rem;
    background-color: #ef6c00;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65100;
}

a.btn {
    color: white;
    text-decoration: none;
}