body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

/* Barra de navegación */
.navbar {
  background-color: #b2dfdb;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 20px;
  width: fit-content;
  margin: 10px auto;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

/* Enlaces del menú */
.navbar-nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #00796b;
}

.nav-var {
  color: #00796b;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Enlace deshabilitado */
.nav-link.disabled {
  color: #ccc;
  cursor: not-allowed;
}