body {
    background: linear-gradient(to bottom right, #e0eef8, #edf2f5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background-color: #b1c9dd; 
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    color: #344069;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}
.login-container label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    color: #293d58d3;
}
.login-container input,
.login-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1.5px solid #a8c2e0;
    border-radius: 10px;
    background-color: #f9fcff;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.login-container input:focus,
.login-container select:focus {
    border-color: #64b4f6c5;
    outline: none;
    box-shadow: 0 0 6px rgba(202, 224, 241, 0.89);
}


.login-container input::placeholder {
    color: #a0b4c8;
}
.login-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #c2d8df;
    color: rgb(69, 96, 146);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}