{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% include 'menu.html' %}
    <div class="form-container">
        <h1>Editar Reservación</h1>
        <form method="post" id="form-crear">
            {% csrf_token %}
            <label for="txtNombre_Cliente">Nombre del Cliente:</label>
            <input type="text" id="txtNombre_Cliente" name="txtNombre_Cliente" value="{{reservacion.nombre_cliente}}" required pattern="[A-Za-z\s]+">

            <label for="txtFecha">Fecha:</label>
            <input type="datetime-local" id="txtFecha" name="txtFecha" value="{{ reservacion.fecha_evento_input }}"required>
            {% if errores.txtFecha %}
                <p class="error">{{ errores.txtFecha }}</p>
            {% endif %}

            <label for="txtDuracion">Duración:</label>
            <input type="number" name="txtDuracion" value="{{reservacion.duracion_horas}}"required>
            {% if errores.txtDuracion %}
                <p class="error">{{ errores.txtDuracion }}</p>
            {% endif %}

            <label for="txtNum_Inv">Numero de Invitados:</label>
            <input type="number" id="txtNum_Inv" name="txtNum_Inv" value="{{reservacion.num_invitados}}" required pattern="[0-9]+ o \d+">
            {% if errores.txtNum_Inv %}
                <p class="error">{{ errores.txtNum_Inv }}</p>
            {% endif %}

            <label for="ddlTipo_Evento">Tipo de Evento:</label>
            <select name="ddlTipo_Evento" required>
                <option value="">Selecciona el Tipo de Evento</option>
                <option value="PAQUETE BASICO" {% if reservacion.tipo_evento == "PAQUETE BASICO" %}selected{% endif %}>PAQUETE BÁSICO</option>
                <option value="PAQUETE PREMIUM" {% if reservacion.tipo_evento == "PAQUETE PREMIUM" %}selected{% endif %}>PAQUETE PREMIUM</option>
                <option value="SHOW DE MAGIA" {% if reservacion.tipo_evento == "SHOW DE MAGIA" %}selected{% endif %}>SHOW DE MAGIA</option>
                <option value="PINTA CARITAS" {% if reservacion.tipo_evento == "PINTA CARITAS" %}selected{% endif %}>PINTA CARITAS</option>
            </select><br>
            

            <label for="txtTelefono_Contacto">Telefono:</label>
            <input type="text" id="txtTelefono_Contacto" name="txtTelefono_Contacto" value="{{reservacion.telefono_contacto}}" required pattern="^\d{10}$">
            {% if errores.txtTelefono_Contacto %}
                <p class="error">{{ errores.txtTelefono_Contacto }}</p>
            {% endif %}

            <label for="ddlestatus">Estatus:</label>
            <select name="ddlestatus" required>
                <option value="">Selecciona un Estatus</option>
                <option value="PENDIENTE" {% if reservacion.estatus == "PENDIENTE" %}selected{% endif %}>PENDIENTE</option>
                <option value="LISTO" {% if reservacion.estatus == "LISTO" %}selected{% endif %}>LISTO</option>
            </select><br>
            
            <button type="submit">Actualizar</button>
            <button><a href="{% url 'listar' %}" class="btn">Volver</a></button>
        </form>
    </div>
      <script src="{% static 'js/confirmar.js' %}"></script>
</body>
</html>