{% load static %}
<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <title>Acceso al Sistema</title>
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label for="{{ form.username.id_for_label }}">Usuario:</label>
            {{ form.username }}

            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            {{ form.password }}

            <!--<label for="{{ form.role.id_for_label }}">Tipo de Usuario:</label>-->
            <div style="display: none;">    
            {{ form.role }}
            </div>
            <button type="submit">Entrar</button>
            <a class="nav-link" href="{% url 'inicio' %}">Volver</a>
        </form>
    </div>
</body>
</html>